CMS_DATABASE_URL=postgresql://postgres:mypassword@localhost:5432/cms
RUSTFS_PUBLIC_BASE_URL=http://localhost:9000/cms-files

RUSTFS_ENDPOINT=http://localhost:9000
RUSTFS_ACCESS_KEY_ID=rustfsadmin
RUSTFS_SECRET_ACCESS_KEY=rustfsadmin
RUSTFS_BUCKET=cms-files
AWS_REGION=us-east-1
